@keyframes btn-hide {
	0% {
    transform: scale(1);
		opacity: 1;
    display: block;
	}
	100% {
    transform: scale(0.5);
		opacity: 0;
    display: none;
	}
}
@keyframes btn-show {
  0% {
    transform: scale(0.5);
    opacity: 0;
    display: none;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    display: block;
  } 
}

@keyframes menu-show {
  0% {
    transform: translateY(100%);
    opacity: 0
  }
  100% {
    transform: translateY(0%);
    opacity: 1
  }
}
@keyframes menu-hide {
  0% {
    transform: translateY(0%);
    opacity: 1
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes spin-in {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(180deg) scale(0.1);
  }
}

@keyframes spin-out {
  0% {
    transform: rotate(180deg) scale(0.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/*@keyframes btn-jump {
  0% {
    margin-top: 0;
  }
  80% {
    margin-top: -35px;
  }
  100% {
    margin-top: -30px;
  } 
}*/

.transition{
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}