@keyframes btn-hide {
	0% {
    transform: scale(1);
		opacity: 1;
    display: block;
	}
	100% {
    transform: scale(0.5);
		opacity: 0;
    display: none;
	}
}
@keyframes btn-show {
  0% {
    transform: scale(0.5);
    opacity: 0;
    display: none;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    display: block;
  } 
}