.btn {
  text-align: center;
  -webkit-app-region: no-drag;
  padding: 0;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  height: 24px;
  width: 24px;
  border-radius: 2px;
  cursor: default;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  &:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }
}
.btn-menu {
  height: $header_height/4*3;
  width: $header_height/4*3;
  margin-top: $header_height/8;
  margin-right: $header_height/8;
  border-radius: $header_height/8;
  background: #fff;
  border: none;
  box-shadow: none;
}

.btn-toolbar {
  align-self: center;
  margin-right: 10px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  .btn-circular {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    border: 2px solid $gray;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 10px;
    margin-bottom: 10px;

    &:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    &:active {
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    }
    &.btn-invisible {
      border-color: transparent;
      box-shadow: none;
      &:hover, &:active {
        box-shadow: none;
      }
    }
  }
}
.btn-pager {
  height: 48px;
  width: 48px;
  display: flex;
  align-self: center;
  border-radius: 2px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  i, span {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  &:active {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, .2);
  }
}
.btn-hidden {
  animation: btn-hide 0.2s;
  animation-fill-mode: forwards;
}
.btn-visible {
  animation: btn-show 0.2s;
  animation-fill-mode: forwards;
}

.btn-active {
  transform: scale(1.2);
  border-color: $yellow !important;
}
.btn-tool-active {
  margin-top: -30px;
  #pencil_color {
    top: -5px !important;
  }
}
.btn-ruler-active {
  margin-top: -30px;
}


@each $color, $name in $colors {
  .btn-#{$name} {
    background-color: $color;
  }
  .btn-#{$name}-hover {
    &:hover {
      background-color: $color;
      @if $color != $white {
        color: $white;
      } @else {
        color: $black;
      }
    }
    &:active {
      background-color: darken($color, 20);
      @if $color != $white {
        color: $white;
      } @else {
        color: $black;
      }
    }
  }
}