$azure: #36D3FF;
$purple: #9A53E8;
$red: #FF5039;
$yellow: #FFFF00;
$green: #4CAF50;
$gray: #eeeeee;
$black: #000000;
$white: #ffffff;
// $azure-dark: darken(#36D3FF, 20);
// $purple-dark: darken(#9A53E8, 20);
// $red-dark: darken(#FF5039, 20);
// $yellow-dark: darken(#E8B72E, 20);
// $green-dark: darken(#71FF3C, 20);
// $gray-dark: darken(#eeeeee, 20);