$azure: #36D3FF;
$purple: #9A53E8;
$red: #FF5039;
$yellow: #E8B72E;
$green: #71FF3C;
$gray: #eeeeee;
$black: #212121;
$white: #ffffff;
// $azure-dark: darken(#36D3FF, 20);
// $purple-dark: darken(#9A53E8, 20);
// $red-dark: darken(#FF5039, 20);
// $yellow-dark: darken(#E8B72E, 20);
// $green-dark: darken(#71FF3C, 20);
// $gray-dark: darken(#eeeeee, 20);

$colors: ($azure, "azure"), ($purple, "purple"), ($red, "red"), ($yellow, "yellow"), ($green, "green"), ($white, "white");
