#ruler-div {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	width: 200px;
	transform-origin: 50% 50%;
	transform: translate(200px, 200px);
	background-color: red;
	justify-content: space-between;
	#top-left {
	  width:10px;
	  height:10px;
	  background:white;
	  top:0px;
	}
	#top-center {
	  width:10px;
	  height:10px;
	  background:white;
	  top:0px;
	}
	#top-right {
	  width:10px;
	  height:10px;
	  background:white;
	  top:0px;
	}
}
