/* LIM */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../materialIcons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../materialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(../materialIcons/MaterialIcons-Regular.woff) format("woff"), url(../materialIcons/MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

@keyframes btn-hide {
  0% {
    transform: scale(1);
    opacity: 1;
    display: block; }
  100% {
    transform: scale(0.5);
    opacity: 0;
    display: none; } }
@keyframes btn-show {
  0% {
    transform: scale(0.5);
    opacity: 0;
    display: none; }
  100% {
    transform: scale(1);
    opacity: 1;
    display: block; } }
/*@keyframes btn-jump {
  0% {
    margin-top: 0;
  }
  80% {
    margin-top: -35px;
  }
  100% {
    margin-top: -30px;
  } 
}*/
.transition {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  transform: translateZ(0);
  overflow: hidden;
  -webkit-user-select: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  touch-action: none; }

img {
  -webkit-user-drag: none !important; }

.background {
  background-color: #fff; }

.hidden {
  display: none !important;
  opacity: 0; }

#window-menu {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0; }

#content {
  text-align: center;
  -webkit-app-region: no-drag;
  position: relative; }
  #content #grid {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40px;
    pointer-events: none; }
  #content canvas {
    position: absolute;
    align-self: center;
    background-repeat: repeat;
    top: 0;
    left: 0; }

.dark header, .dark footer, .dark #settings_panel {
  background: #333 !important; }
.dark :not(button):not(.btn-highlight) > li:not(.btn-highlight), .dark :not(button):not(.btn-highlight) > i, .dark :not(button):not(.btn-highlight) > h1 {
  color: #fff; }
.dark .btn-disabled > i {
  color: #666 !important; }

.welcome-content {
  position: fixed;
  display: block;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-app-region: no-drag; }
  .welcome-content .welcome-choose {
    display: flex; }
    .welcome-content .welcome-choose .btn-full {
      flex-grow: 1;
      text-decoration: none !important;
      text-align: center;
      font: 1.5em "Roboto", Helvetica, Arial, sans-serif;
      color: black;
      padding-top: 2em;
      padding-bottom: 2em;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
      .welcome-content .welcome-choose .btn-full:hover {
        background-color: #e6e6e6; }
      .welcome-content .welcome-choose .btn-full img {
        margin-left: auto;
        margin-right: auto;
        display: block; }
      .welcome-content .welcome-choose .btn-full span {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 75%; }
  .welcome-content .welcome-footer {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0; }
    .welcome-content .welcome-footer ul {
      padding: 0;
      display: flex; }
      .welcome-content .welcome-footer ul li {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        text-decoration: none; }
        .welcome-content .welcome-footer ul li a {
          padding: 3px;
          font: 1em "Roboto", Helvetica, Arial, sans-serif;
          color: black;
          padding-top: 2em; }

header, footer {
  background-color: #eeeeee;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.8, 1); }

header {
  height: 40px;
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  header #title {
    display: block;
    position: relative;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    font-size: 1rem;
    font-weight: normal; }

footer {
  height: 80px;
  position: absolute;
  display: flex;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 800;
  justify-content: space-between;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -1px 5px 0 rgba(0, 0, 0, 0.12), 0 -3px 1px -2px rgba(0, 0, 0, 0.2); }

.toolbar-left {
  position: relative;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 20px; }

.toolbar-right {
  position: relative;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: 20px;
  flex-direction: row-reverse; }

.toolbar-transparent {
  position: relative;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
  right: 0;
  top: 0;
  height: 80px;
  flex-direction: row;
  padding-left: 15px;
  padding-bottom: 3px; }
  .toolbar-transparent li {
    text-align: center; }

.toolbar-spacer {
  margin-left: 15px;
  margin-right: 15px;
  border-left: 1px solid #d4d4d4;
  margin-top: 20px;
  margin-bottom: 20px; }

.flex-container {
  display: flex;
  height: 100%; }

/*#color-picker-container {
  align-self: center;
  background: linear-gradient(to left, $red 0%, $green 100%);
  width: 100px;
  height: 75%;
  border-radius: 15px;
  border: 2px solid $gray;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.24);
  padding-top: 5px;
}*/
#pencil_black {
  background: black; }

#pencil_blue {
  background: #2962ff; }

#pencil_red {
  background: #f44336; }

#pencil_green {
  background: #4caf50; }

#pencil_yellow {
  background: #ffdd00; }

#pencil_white {
  background: #ffffff; }

#toggle_navbar_container {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center; }

#toggle_navbar {
  width: 48px !important;
  color: #ffffff;
  background-color: #FF5039;
  border-radius: 40px;
  margin: auto; }
  #toggle_navbar:hover {
    background-color: #ff7d6c; }

#dragger_navbar {
  position: relative;
  display: flex;
  -webkit-app-region: drag;
  height: 100%;
  width: 20px;
  transition: all linear 1s;
  text-align: center; }
  #dragger_navbar i {
    align-self: center; }

#stroke_small {
  background: #ffffff; }
  #stroke_small:after {
    content: "";
    display: block;
    position: relative;
    height: 6px;
    width: 6px;
    border-radius: 6px;
    background: black;
    margin: 9px; }

#stroke_medium {
  background: #ffffff; }
  #stroke_medium:after {
    content: "";
    display: block;
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: black;
    margin: 7px; }

#stroke_big {
  background: #ffffff; }
  #stroke_big:after {
    content: "";
    display: block;
    position: relative;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    background: black;
    margin: 5px; }

#stroke_slider[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  background: transparent;
  /* Otherwise white in Chrome */
  width: 102px;
  outline: none; }
#stroke_slider[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #eeeeee;
  height: 28px;
  width: 28px;
  border-radius: 100px;
  background: #000000;
  cursor: pointer;
  margin-top: -10px;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
#stroke_slider[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  border: 2px solid #eeeeee;
  margin-left: 4px;
  align-self: center;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }

.slider-active::-webkit-slider-thumb {
  border: 2px solid #FFFF00 !important;
  transform: scale(1.2); }

.eye-active {
  border: 2px solid #FFFF00 !important;
  transform: scale(1.2) translate(-50%, -50%) !important; }

#settings_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  #settings_container #settings_panel {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    font-size: 0;
    padding-top: 40px; }
    #settings_container #settings_panel h1 {
      margin: 0;
      font-size: 1.7rem;
      padding: 0.5em 5% 0.5em;
      border-bottom: 1px solid #eeeeee; }
    #settings_container #settings_panel .settings_list {
      display: inline-block;
      padding: 0;
      width: 23.3%;
      list-style: none;
      font-size: 1rem;
      height: 100%;
      vertical-align: top;
      margin: 0;
      border-right: 1px solid #ededed;
      padding: 5%; }
      #settings_container #settings_panel .settings_list .settings_list_heading {
        font-size: 1.2em;
        font-weight: bold; }
      #settings_container #settings_panel .settings_list .settings_list_element {
        padding: 0.5em 0 0.5em;
        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
        #settings_container #settings_panel .settings_list .settings_list_element i, #settings_container #settings_panel .settings_list .settings_list_element span {
          vertical-align: text-bottom; }
        #settings_container #settings_panel .settings_list .settings_list_element:hover, #settings_container #settings_panel .settings_list .settings_list_element:active {
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
      #settings_container #settings_panel .settings_list .settings_list_circular_picker {
        padding: 0.5em 0 0.5em;
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em; }
        #settings_container #settings_panel .settings_list .settings_list_circular_picker > div {
          display: inline-block;
          flex-grow: 1;
          text-align: center;
          flex-basis: 0;
          border-radius: 2px;
          transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          padding: 0.5em; }
          #settings_container #settings_panel .settings_list .settings_list_circular_picker > div > span, #settings_container #settings_panel .settings_list .settings_list_circular_picker > div input {
            border-radius: 15px;
            border: 3px solid #eeeeee;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            margin: auto;
            padding: 0;
            display: block;
            height: 25px;
            width: 25px; }
          #settings_container #settings_panel .settings_list .settings_list_circular_picker > div h6 {
            margin: 0.5em 0 0 0; }
          #settings_container #settings_panel .settings_list .settings_list_circular_picker > div:hover, #settings_container #settings_panel .settings_list .settings_list_circular_picker > div:active {
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    #settings_container #settings_panel .settings_footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 1em; }
      #settings_container #settings_panel .settings_footer a {
        position: relative;
        margin: auto;
        bottom: 10px; }

#background_white span {
  background-color: #ffffff; }

#background_black span {
  background-color: #000000; }

#background_transparent span {
  background: white;
  background-image: url("../img/nocolor.png"); }

#background_custom input {
  background: white;
  background-image: url("../img/colors.png");
  background-position: center;
  background-clip: border-box; }

#background_none span {
  background-image: none; }

#background_squared span {
  background: white;
  background-image: url("../img/grid/squared-dark.png");
  background-position: 15px 15px;
  background-size: 48px 48px; }

#background_lines span {
  background: white;
  background-image: url("../img/grid/lines-dark.png");
  background-position: 15px 15px;
  background-size: 12px 12px; }

.btn {
  text-align: center;
  -webkit-app-region: no-drag;
  padding: 0;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  border: none;
  background: #ffffff;
  cursor: default; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .btn:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.btn-menu {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background: #fff;
  border: none;
  box-shadow: none;
  float: right; }
  .btn-menu.btn-flex {
    width: auto;
    height: auto;
    display: flex; }
    .btn-menu.btn-flex span, .btn-menu.btn-flex i {
      display: inline-block;
      align-self: center; }

.btn-menu-left {
  margin-left: 5px;
  float: left;
  -webkit-app-region: no-drag;
  cursor: default; }

.btn-toolbar {
  align-self: center;
  margin-right: 10px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.btn-container {
  display: block;
  height: 80px; }
  .btn-container .btn-row {
    display: flex !important;
    margin: 0;
    height: 50%; }
    .btn-container .btn-row:first-child > span, .btn-container .btn-row:first-child > input {
      margin-top: 4px;
      padding: 0; }
    .btn-container .btn-row:last-child > span, .btn-container .btn-row:last-child > input {
      margin-bottom: 4px;
      padding: 0; }
    .btn-container .btn-row .btn-circular {
      display: block;
      align-self: center;
      width: 24px;
      height: 24px;
      border-radius: 15px;
      border: 2px solid #eeeeee;
      box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      margin: 0px 4px 0px 4px; }
      .btn-container .btn-row .btn-circular:hover {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
      .btn-container .btn-row .btn-circular:active {
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
      .btn-container .btn-row .btn-circular.btn-invisible {
        border-color: transparent;
        box-shadow: none; }
        .btn-container .btn-row .btn-circular.btn-invisible:hover, .btn-container .btn-row .btn-circular.btn-invisible:active {
          box-shadow: none; }

.btn-pager {
  height: 48px;
  width: 48px;
  display: flex;
  align-self: center;
  border-radius: 2px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .btn-pager.btn-flex {
    width: auto;
    padding-left: 1em;
    padding-right: 1em; }
  .btn-pager i, .btn-pager span {
    align-self: center;
    margin-left: auto;
    margin-right: auto; }
  .btn-pager:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .btn-pager:active {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.btn-hidden {
  animation: btn-hide 0.2s;
  animation-fill-mode: forwards; }

.btn-visible {
  animation: btn-show 0.2s;
  animation-fill-mode: forwards; }

.btn-disabled {
  color: #ccc; }

.btn-active {
  transform: scale(1.2);
  border-color: #FFFF00 !important; }

.btn-tool-active {
  margin-top: -30px; }
  .btn-tool-active #pencil_color {
    top: -8px !important; }
  .btn-tool-active #marker_color {
    top: 8px !important; }

.btn-ruler-active {
  margin-top: -30px; }

.btn-toolbar-tool {
  height: 40px;
  width: auto; }
  .btn-toolbar-tool img {
    position: relative;
    height: 100px;
    z-index: 401; }
  .btn-toolbar-tool #pencil_color {
    display: block;
    position: absolute;
    z-index: 400;
    top: 8px;
    margin-left: 4.5px;
    margin-top: 3px;
    height: 0;
    width: 0;
    border-top: 12px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #000000;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .btn-toolbar-tool #marker_color {
    height: 20px;
    width: 12px;
    top: 22px;
    margin-left: -7px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 2px;
    transform: skewY(23deg);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.btn-option {
  margin-top: 1em;
  border-radius: 100px;
  background: #eeeeee;
  padding: 1em; }

.btn-label {
  padding-left: 0.7em; }

.btn-highlight {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-radius: 100px;
  font-size: 0.9em;
  letter-spacing: 0.08em;
  text-transform: uppercase; }

#ruler_container {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  width: 400px;
  transform-origin: 50% 50%;
  transform: translate(200px, 200px) rotate(0deg);
  background-color: rgba(150, 150, 150, 0.7);
  background-image: url("../img/ruler_texture.png");
  background-repeat: repeat-x;
  justify-content: space-between;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  #ruler_container:before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    height: 40px;
    width: 100%;
    pointer-events: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  #ruler_container #top_left {
    width: 0;
    height: 0;
    background: transparent;
    position: absolute;
    top: -1px;
    left: 0; }
  #ruler_container #top_right {
    width: 0;
    height: 0;
    background: transparent;
    position: absolute;
    top: -1px;
    right: 0; }
  #ruler_container #bottom_right {
    width: 0;
    height: 0;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0; }
  #ruler_container #ruler_left, #ruler_container #ruler_center, #ruler_container #ruler_right {
    display: block;
    width: 100%;
    height: 100%; }
  #ruler_container #ruler_left {
    background-color: transparent; }
  #ruler_container #ruler_center {
    background-color: transparent;
    display: flex; }
    #ruler_container #ruler_center #ruler_degrees {
      text-align: center;
      align-self: center;
      width: 100%;
      z-index: 1;
      font-size: 1.5em;
      font-weight: bold; }
  #ruler_container #ruler_right {
    background-color: transparent; }

/**
 * Tooltip Styles
 */
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer; }

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none; }

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  border-radius: 3px;
  background-color: #000;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2; }

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid rgba(51, 51, 51, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0; }

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1; }

/*$color-ui-panel: #1F232A;
$color-swatch-border: #fff;
$map-height: 90%;
$window-width:140px;
$map-spectrum-width: 80%;
$map-hue-width: 10%;
$spectrum-cursor-width: 20px;
$hue-cursor-width:$spectrum-cursor-width*3/4;
$border-radius: 0px;

.color-picker-panel{
  background:transparent;
  width:$window-width;
  font-size:0;
  margin-top: 2%
}

.color-cursor{
  background:#ccc;
  box-sizing:border-box;
  position:absolute;
  pointer-events:none;
  z-index:2;
  border:2px solid $color-swatch-border;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all .1s ease;
  
  &.dragging{
    transition:none;
  }
  
  &#spectrum-cursor{
    border-radius:100%;
    width:$spectrum-cursor-width;
    height:$spectrum-cursor-width;
    margin-left:- $spectrum-cursor-width/2;
    margin-top:- $spectrum-cursor-width/2;
    top:0;
    left:0;
  }

  &#hue-cursor{
    border-radius: 0;
    top:0;
    left:50%;
    height:$hue-cursor-width*3/4;
    width:$hue-cursor-width*3/2;
    margin-top:-$hue-cursor-width/2;
    margin-left:-$hue-cursor-width*3/4;
    pointer-events:none;
  }
}

.spectrum-map{
  display: inline-block;
  position:relative;
  width:$map-spectrum-width;
  height:$map-height;
  overflow:visible;
  border: 2px solid $gray;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#spectrum-canvas{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#ccc;
  border-radius: $border-radius;
}

.hue-map{
  display: inline-block;
  position:relative;
  width:$map-hue-width*3/4;
  height:$map-height;
  margin-left: $map-hue-width/4;
  border: 2px solid $gray;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#hue-canvas{
  border-radius:$border-radius;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  background:#ccc;
}*/
#color_picker_container {
  align-self: center;
  width: 120px;
  height: 70px;
  border: 2px solid #eeeeee;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

#color_picker_canvas {
  border-radius: 5px; }

#color-picker-circle {
  display: none;
  position: absolute;
  height: 14px;
  width: 14px;
  border: 2px solid #eeeeee;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  pointer-events: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

#download {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#tick {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #82CA9D;
  color: white;
  border-radius: 100%;
  line-height: 30px;
  display: none;
  align-items: center;
  justify-content: center; }

#download-text {
  height: 40px;
  align-items: center;
  color: #82CA9D;
  display: none; }

#arrow {
  width: 30px;
  height: 32px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: none; }

#custom-arrow {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -7px;
  background-color: #82CA9D;
  -webkit-animation-name: arrow;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: arrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; }
  #custom-arrow:after {
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    left: -9px;
    border-top: 15px solid #82CA9D;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent; }

#bar {
  width: 30px;
  height: 4px;
  background-color: #82CA9D;
  margin: 0 auto;
  display: none; }

@-webkit-keyframes arrow {
  0% {
    top: 0;
    opacity: 1; }
  50% {
    top: 110%;
    opacity: 0; }
  52% {
    top: -110%;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }
@keyframes arrow {
  0% {
    top: 0;
    opacity: 1; }
  50% {
    top: 110%;
    opacity: 0; }
  52% {
    top: -110%;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
