/* LIM */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../materialIcons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../materialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(../materialIcons/MaterialIcons-Regular.woff) format("woff"), url(../materialIcons/MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

@keyframes btn-hide {
  0% {
    transform: scale(1);
    opacity: 1;
    display: block; }
  100% {
    transform: scale(0.5);
    opacity: 0;
    display: none; } }
@keyframes btn-show {
  0% {
    transform: scale(0.5);
    opacity: 0;
    display: none; }
  100% {
    transform: scale(1);
    opacity: 1;
    display: block; } }
/*@keyframes btn-jump {
  0% {
    margin-top: 0;
  }
  80% {
    margin-top: -35px;
  }
  100% {
    margin-top: -30px;
  } 
}*/
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  transform: translateZ(0);
  overflow: hidden;
  -webkit-user-select: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  touch-action: none; }

img {
  -webkit-user-drag: none !important; }

header, footer {
  background-color: #eeeeee;
  z-index: 1000; }

header {
  height: 40px;
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  header #title {
    display: block;
    position: relative;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    font-size: 1rem;
    font-weight: normal; }

footer {
  height: 80px;
  position: absolute;
  display: block;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 800;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -1px 5px 0 rgba(0, 0, 0, 0.12), 0 -3px 1px -2px rgba(0, 0, 0, 0.2); }

#window-menu {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0; }

#content {
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  -webkit-app-region: no-drag; }

#settings_container {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 40px;
  justify-content: center;
  z-index: 900; }

#settings_panel {
  position: relative;
  margin-top: 30px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 450px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px; }
  #settings_panel h1 {
    font-size: 1.8em;
    font-weight: lighter;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #eeeeee; }

#settings_panel_close {
  position: absolute;
  top: 5px;
  right: 5px; }

.settings_list {
  width: 50%;
  padding-left: 25%;
  list-style: none;
  font-size: 1.2rem; }
  .settings_list .settings_list_heading {
    width: 100%;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: left;
    padding-left: 62px;
    margin-top: 16px;
    color: #999999; }
  .settings_list .settings_list_element {
    display: flex;
    text-align: left;
    height: 32px;
    padding: 8px 4px 0px 4px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
    .settings_list .settings_list_element i {
      height: 32px;
      width: 32px;
      align-self: center; }
    .settings_list .settings_list_element span {
      width: 100%;
      padding-left: 32px; }
    .settings_list .settings_list_element:hover {
      background-color: #eeeeee; }
  .settings_list .settings_list_circular_picker {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px; }
    .settings_list .settings_list_circular_picker span, .settings_list .settings_list_circular_picker input {
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 15px;
      border: 2px solid #eeeeee;
      box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
      font-size: 0;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
      .settings_list .settings_list_circular_picker span:hover, .settings_list .settings_list_circular_picker input:hover {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
      .settings_list .settings_list_circular_picker span:active, .settings_list .settings_list_circular_picker input:active {
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    .settings_list .settings_list_circular_picker #background_white {
      background-color: #ffffff; }
    .settings_list .settings_list_circular_picker #background_black {
      background-color: #212121; }
    .settings_list .settings_list_circular_picker #background_green {
      background-color: #567E3A; }
    .settings_list .settings_list_circular_picker #background_transparent {
      background-image: url("../img/nocolor.png"); }
    .settings_list .settings_list_circular_picker #background_custom {
      background-image: url("../img/colors.png");
      background-position: center;
      background-clip: border-box; }
    .settings_list .settings_list_circular_picker #background_none {
      background-image: none; }
    .settings_list .settings_list_circular_picker #background_squared {
      background-image: url("../img/grid/squared-dark.png");
      background-position: 15px 15px;
      background-size: 48px 48px; }
    .settings_list .settings_list_circular_picker #background_squared_marked {
      background-image: url("../img/grid/squared-marked-dark.png");
      background-position: 15px 15px;
      background-size: 48px 48px; }
    .settings_list .settings_list_circular_picker #background_lines {
      background-image: url("../img/grid/lines-dark.png");
      background-position: 15px 15px;
      background-size: 12px 12px; }
    .settings_list .settings_list_circular_picker #background_dots {
      background-image: url("../img/grid/dots-dark.png"); }

/* end of settings */
#canvas {
  position: relative;
  align-self: center;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background-repeat: repeat; }

.toolbar-left {
  position: absolute;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding-left: 20px; }

.toolbar-center {
  position: relative;
  width: 50px;
  margin-left: auto;
  margin-right: auto; }

.toolbar-right {
  position: absolute;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding-right: 20px;
  flex-direction: row-reverse; }

.toolbar-spacer {
  margin-left: 15px;
  margin-right: 15px; }

.btn-toolbar-tool {
  height: 40px;
  width: 40px; }
  .btn-toolbar-tool img {
    position: relative;
    height: 100px;
    z-index: 401; }
  .btn-toolbar-tool #pencil_color {
    display: block;
    position: absolute;
    z-index: 400;
    top: 10px;
    margin-left: 4.5px;
    height: 0;
    width: 0;
    border-top: 12px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #212121;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

#pencil_black {
  background: black; }

#pencil_blue {
  background: #2962ff; }

#pencil_red {
  background: #f44336; }

#pencil_green {
  background: #4caf50; }

#pencil_other {
  background-image: url("../img/colors.png");
  background-position: center;
  background-clip: border-box;
  font-size: 0; }

#stroke_small {
  background: #ffffff; }
  #stroke_small:after {
    content: "";
    display: block;
    position: relative;
    height: 6px;
    width: 6px;
    border-radius: 6px;
    background: black;
    margin: 9px; }

#stroke_medium {
  background: #ffffff; }
  #stroke_medium:after {
    content: "";
    display: block;
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: black;
    margin: 7px; }

#stroke_big {
  background: #ffffff; }
  #stroke_big:after {
    content: "";
    display: block;
    position: relative;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    background: black;
    margin: 5px; }

.background {
  background-color: #fff; }

.hidden {
  display: none !important; }

.btn {
  text-align: center;
  -webkit-app-region: no-drag;
  padding: 0;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  height: 24px;
  width: 24px;
  border-radius: 2px;
  cursor: default; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .btn:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.btn-menu {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background: #fff;
  border: none;
  box-shadow: none; }

.btn-toolbar {
  align-self: center;
  margin-right: 10px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .btn-toolbar .btn-circular {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    border: 2px solid #eeeeee;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 10px;
    margin-bottom: 10px; }
    .btn-toolbar .btn-circular:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
    .btn-toolbar .btn-circular:active {
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    .btn-toolbar .btn-circular.btn-invisible {
      border-color: transparent;
      box-shadow: none; }
      .btn-toolbar .btn-circular.btn-invisible:hover, .btn-toolbar .btn-circular.btn-invisible:active {
        box-shadow: none; }

.btn-hidden {
  animation: btn-hide 0.2s;
  animation-fill-mode: forwards; }

.btn-visible {
  animation: btn-show 0.2s;
  animation-fill-mode: forwards; }

.btn-active {
  transform: scale(1.2);
  border-color: #FFFF00 !important; }

.btn-tool-active {
  margin-top: -30px; }
  .btn-tool-active #pencil_color {
    top: -5px !important; }

.btn-ruler-active {
  margin-top: -30px; }

.btn-azure {
  background-color: #36D3FF; }

.btn-azure-hover:hover {
  background-color: #36D3FF;
  color: #ffffff; }
.btn-azure-hover:active {
  background-color: #00a2cf;
  color: #ffffff; }

.btn-purple {
  background-color: #9A53E8; }

.btn-purple-hover:hover {
  background-color: #9A53E8;
  color: #ffffff; }
.btn-purple-hover:active {
  background-color: #6719bc;
  color: #ffffff; }

.btn-red {
  background-color: #FF5039; }

.btn-red-hover:hover {
  background-color: #FF5039;
  color: #ffffff; }
.btn-red-hover:active {
  background-color: #d21800;
  color: #ffffff; }

.btn-yellow {
  background-color: #FFFF00; }

.btn-yellow-hover:hover {
  background-color: #FFFF00;
  color: #ffffff; }
.btn-yellow-hover:active {
  background-color: #999900;
  color: #ffffff; }

.btn-green {
  background-color: #71FF3C; }

.btn-green-hover:hover {
  background-color: #71FF3C;
  color: #ffffff; }
.btn-green-hover:active {
  background-color: #3ad500;
  color: #ffffff; }

.btn-white {
  background-color: #ffffff; }

.btn-white-hover:hover {
  background-color: #ffffff;
  color: #212121; }
.btn-white-hover:active {
  background-color: #cccccc;
  color: #212121; }

#ruler_container {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  width: 400px;
  transform-origin: 50% 50%;
  transform: translate(200px, 200px) rotate(0deg);
  background-color: red;
  justify-content: space-between; }
  #ruler_container #top_left {
    width: 0;
    height: 0;
    background: white;
    position: absolute;
    top: 0;
    left: 0; }
  #ruler_container #top_right {
    width: 0;
    height: 0;
    background: white;
    position: absolute;
    top: 0;
    right: 0; }
  #ruler_container #bottom_right {
    width: 0;
    height: 0;
    background: white;
    position: absolute;
    bottom: 0;
    right: 0; }
  #ruler_container #ruler_left, #ruler_container #ruler_center, #ruler_container #ruler_right {
    display: block;
    width: 100%;
    height: 100%; }
  #ruler_container #ruler_left {
    background-color: green; }
  #ruler_container #ruler_center {
    background-color: yellow; }
  #ruler_container #ruler_right {
    background-color: blue; }

/*# sourceMappingURL=style.css.map */
